/* Partie informations personnelles */
.divBtnDeconnexion {
	float : right;
	width : 100%;
}

#deconnexion {
	width : 70%;
	border-radius: 50px;

	margin : 0 15% 5% 15%;
	padding: 5%;

	position : absolute;
	bottom : 0;

	font-size: larger;
	font-weight: bold;
	color : #5C5792;

	background-color: white;
}