section {
	float : left;
}


h2 {
	font-size : 300%;
	text-align : center;
}


ul {
	list-style : none;
}


.informationsGenerales {
	position : fixed;
	bottom : 0;
	top : 0;
	left : 0;
	width : 70%;
	background-color: white;
}

.informationsGenerales h2 { color : #5C5792; margin-top : 4%; }

.informationsPersonnelles {
	position : fixed;
	bottom : 0;
	top : 0;
	right : 0;

	width: 30%;
	padding: 1%;

	color : white;

	background : #5C5792;
}



/* Partie informations personnelles */
.divBtnDeconnexion {
	float : right;
	width : 100%;
}

#deconnexion {
	width : 70%;
	border-radius: 50px;

	margin : 0 15% 5% 15%;
	padding: 5%;

	position : absolute;
	bottom : 0;

	font-size: larger;
	font-weight: bold;
	color : #5C5792;

	background-color: white;
}


/* Partie Informations Personnelles */
.titre {
	font-weight: bold;
	font-size : x-large;

	margin: 5% 0 2% 5%;
}


.info {
	border : solid 1px white;

	padding : 2% 6% 2% 6%;
	margin-right: 10%;

	border-radius: 50px;
}


li.typeInfo {
	font-size : 125%;
	font-weight: bold;

	margin : 3% 0 2% 0;
}

li.infoRenseigne {
	width : 80%;

	padding : 2% 1% 1% 3%;

	background-color: #FEFEE2;
	color : black;

	border-radius : 10px;
	border-bottom : 3px solid grey;
}


article input[type = "button"] {
	border-radius : 50%;
	height        : 40px;
	width         : 40px;

	margin        : 20% 5% 0 5%;

	font-weight   : bold;
	color         : white;
	background    : #5C5792;
}

article input[type = "button"]:active { background-color : rgba( 92,87,146, 0.8 ); }


article#vip, article#premium, article#basic, article#etudiant {
	width : 42%;
	float : left;

	padding : 1%;
	margin : 1% 1% 1% 2%;

	border : solid 1px #5C5792;
}


.infoAcces ul {
	list-style-type : disc;
	list-style : #5C5792;
}


article.formuleChoisie {
	border-radius: 10px;

	background-color: rgba(92,87,146, 0.4);
}